*{
 box-sizing: border-box;
}
body{
    background-color: #f0f2f5;
}
.main{
    background-color: white;
    width: 400px;
    height: 320px;
    padding: 14px;
    border-radius: 8px;
    margin: auto;
}
.facebook{
    font-size: 65px;
    width: 180px;
    margin: auto;
}
input{
    width: 100%;
    padding: 16px;
    margin-bottom: 12px;
    border-width:1px;
    border-radius:6px; 
    border-color: lightgray;
    border-style: solid;
}
.login button{
    width: 100%;
    padding: 15px;
    background-color: #1877f2;
    border-radius:6px; 
    border-width: 0;
    color: white;
}
.login h2{
    padding: 0;
    margin: 0;
}

input::placeholder{
    font-size: 16px;
    color: #90949c;
    
}
.link {
    width: 140px;
    margin: auto;
    margin-top: 16px;
    font-size: 16px;
}
hr{
    margin-top: 20px; 
    margin-bottom: 18px; 
    color: #dadde1;
    border-style: solid;
    height: 1px;
}
.newAccount{
    width: 210px;
    margin: auto;
}
.newAccount button{
    border-width: 0;
    border-radius:6px; 
    height: 50px;
    width: 200px;
    background-color: #42b72a;
    color: white;
}
